ALLOWED_ORIGIN=http://localhost:4200
GOOGLE_CLIENT_ID=[SEU_CLIENT_ID]
GOOGLE_CLIENT_SECRET=[SEU_CLIENT_SECRET]
GOOGLE_REFRESH_TOKEN=[SEU_REFRESH_TOKEN]
OAUTH_REDIRECT_URI=http://localhost:3001/oauth2callback
OAUTH_CALLBACK_TIMEOUT_MS=300000
API_URL_SEED=http://localhost:3000/api
