@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--mat-sys-outline-variant) var(--mat-sys-surface-container);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--mat-sys-surface-container);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--mat-sys-outline-variant);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;

  &:hover {
    background-color: var(--mat-sys-primary);
  }
}

.content {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--mat-sys-outline-variant) var(--mat-sys-surface-container);

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: var(--mat-sys-surface-container);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--mat-sys-outline-variant);
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: content-box;

    &:hover {
      background-color: var(--mat-sys-primary);
    }
  }
}

.mat-mdc-dialog-container,
.cdk-overlay-pane,
.agenda-modal,
.calendar-form-container,
app-agenda-modal,
app-calendar-form {
  overflow-y: auto;
  border-radius: 16px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    margin: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--mat-sys-outline-variant);
    border-radius: 6px;
    border: 2px solid transparent;
    background-clip: content-box;

    &:hover {
      background-color: var(--mat-sys-primary);
    }
  }
}

.fa-spinner {
  animation: fa-spin 1s linear infinite;
}

@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.full-width {
  width: 100%;
}

.app-snackbar-success {
  background-color: #137333;
  color: fff;
  --mdc-snackbar-container-color: #137333;
  --mdc-snackbar-supporting-text-color: #fff;
  --mat-snackbar-button-color: #fff;
}

.app-snackbar-error {
  background-color: #b3261e;
  color: fff;
  --mdc-snackbar-container-color: #b3261e;
  --mdc-snackbar-supporting-text-color: #fff;
  --mat-snackbar-button-color: #fff;
}

.cdk-global-overlay-wrapper:has(.mat-mdc-snack-bar-container) {
  justify-content: flex-end !important;
  align-items: flex-end !important;
  padding: 16px;
  box-sizing: border-box;
}
